/* Reset some styles for cleaner output */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe Print', 'Comic Sans MS', cursive, sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: fixed;
    text-align: center;
    color: white;
}

.welcome-text {
    font-size: 3em;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide the text initially */
    border-right: 3px solid #fff; /* Simulate the cursor */
    width: 0; /* Initially set the width to 0 */
    animation: typing 4s steps(25) 1s 1 normal both, blink-caret 0.75s step-end infinite;
    text-shadow: 0px 0px 10px #0066ff,0px 0px 20px #0066ff,0px 0px 30px #0066ff, 0px 0px 40px #0066ff;
}

/* Keyframes for typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Cursor blinking effect */
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}

.colorBox:hover{
    background: #00bfff;
    transition-duration: 0s;
}

.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #00bfff;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}
